<div class="zq-actcompt zq-actcompt1">
	{{#if showImg}}
	<div class="zq-actcompt-pic">
		<img src="{{activityImage}}!a-3-240x.jpg" width="180" height="135" alt="" />
	</div>
	{{/if}}
	<div class="zq-actcompt-text">
		<h4 class="zq-actcompt-tit">{{name}}</h4>
		<p class="zq-actcompt-p">活动时间：{{#if collectInfo}} {{beginTimeFormatted}} 至 {{endTimeFormatted}} {{else}} {{lotteryBeginTimeFormatted}} 至 {{lotteryEndTimeFormatted}}  {{/if}}</p>
		<p class="zq-actcompt-p">活动规则：{{{description}}}</p>
	</div>
	<div class="zq-actcompt-state">
		{{#if status.notYetStart}}
		<a href="#lottery" class="zq-actcompt-btn zq-actcompt-btn-begin" id="zq_actcompt_not_yet_start">即将开始</a>
		<p class="zq-actcompt-state-tt"><span class="zq-actcompt-or"></span></p>
		{{/if}}
		{{#if status.inProgress}}
		<a href="#lottery" class="zq-actcompt-btn zq-actcompt-btn-in" id="zq_actcompt_in_progress">立即参与</a>
		<p class="zq-actcompt-state-tt">已有<span class="zq-actcompt-or zq-actcompt-fb">{{joins}}</span>人参与</p>
		{{/if}}
		{{#if status.ended}}
		<a href="#lottery" class="zq-actcompt-btn zq-actcompt-btn-end"  id="zq_actcompt_ended">已结束</a>
		<p class="zq-actcompt-state-tt">已有<span class="zq-actcompt-or zq-actcompt-fb">{{joins}}</span>人参与</p>
		{{/if}}
	</div>
</div>

