<div class="lottery-pop{{#if success}} lottery-pop-zjjg{{else}} lottery-pop-wzj{{/if}}" style="z-index:9999; top:0; left:0; position:fixed;">
	<span class="lottery-pop-close"></span>
	<h4 class="lottery-pop-tit">{{#if showError}}提示{{else}}中奖结果{{/if}}</h4>
	<div class="lottery-pcon ">
		{{#if success}}
		<div class="lottery-zjjg-c1">
			<h4 class="lottery-tit">恭喜您！获得了<span class="lottery-or">{{prizeName}}</span></h4>
			{{#if code}}
			<div class="lottery-form-item">
				<div class="lottery-form-tit">帐号：</div>
				<div class="lottery-form-input"><input id="act_module_code" type="text" value="{{code}}"></div>
				<a href="javascript:;" class="lottery-btn-copy" id="btn_copy_code">复制</a>
			</div>
			{{/if}}

			{{#if secretKey}}
			<div class="lottery-form-item">
				<div class="lottery-form-tit">密码：</div>
				<div class="lottery-form-input"><input id="act_module_secretkey" type="text" value="{{secretKey}}"></div>
				<a href="javascript:;" class="lottery-btn-copy" id="btn_copy_secretkey">复制</a>
			</div>
			{{/if}}
		</div>
		

		<div class="lottery-zjjg-c2">
			<h4 class="tit">说明：</h4>
			{{{prizeText}}}
		</div>


		<div class="lottery-zjjg-c2">
			<p><span class="lottery-fb">说明：</span>奖品将于7月3日，由17173工作人员从提交了完整资料的用户中进行抽取，获奖信息将通过短信下发通知，并在开奖后的7个工作日内由工作人员统一安排发放。</p>
		</div>
		{{/if}}


		{{#if failed}}
		<h4 class="lottery-tit">很抱歉，您未能中奖</h4>
		<p>请继续关注17173，更多活动等着您。</p>
		{{/if}}

		{{#if showError}}
		<h4 class="lottery-tit">{{msg}}</h4>
		{{/if}}

	</div>
</div>

<div class="lottery-mask" style="position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:999;"></div>