<div class="lottery lottery3">
	<div class="lottery-hd">
		<h4 class="lottery-tit">{{name}}</h4>
	</div>
	<div class="lottery-bd">
		<div class="lottery3-c1 lottery-fl" style="width:342px;">
			<div class="lottery-lottery">

				{{#each prizeList}}
				<div class="lottery-item lottery-item{{index}}" data-prizeId="{{prizeId}}">
					<img src="{{prizePicture}}" width="110" height="90" alt="">
					<div></div>
				</div>
				{{/each}}
				<div class="lottery-item lottery-item" data-prizeId="0">
					<img src="../src/img/gn.png" width="110" height="90" alt="">
					<div></div>
				</div>
			</div>

			{{#if status.inProgress}}
			<a href="#" class="lottery-btn-cj {{status.className}}">我要抽奖<i class="lottery-ico lottery-ico-play"></i></a>
			<div class="lottery-oz">
				<span class="lottery-fl">已有<span class="lottery-or lottery-fb">0</span>人参与</span>
				<a href="#" target="_blank" title="查看中奖名单" class="lottery-fr lottery-btn-winners ">查看中奖名单&gt;&gt;</a>
			</div>
			{{/if}}

			{{#if status.notYetStart}}
			<span class="lottery-btn-cj lottery-btn-cjw">即将开始<i class="lottery-ico lottery-ico-play"></i></span>
			<p class="lottery-p lottery-or"></p>
			{{/if}}

			{{#if status.ended}}
			<span class="lottery-btn-cj lottery-btn-cjw">活动已结束<i class="lottery-ico lottery-ico-play"></i></span>
			<p class="lottery-p">已有<span class="lottery-or lottery-fb">0</span>人参与</p>
			{{/if}}

		</div>
		<div class="lottery3-c2">
			<div class="lottery-info">
				<h4 class="lottery-tits">活动时间：</h4>
				<p class="lottery-p">{{beginTime}} 至 {{endTime}}</p>
			</div>
			<div class="lottery-info">
				<h4 class="lottery-tits">活动规则：</h4>
				<p class="lottery-p">
					{{description}}
				</p>
			</div>
		</div>
		
	</div>
</div>