<div class="lottery lottery1">
	<div class="lottery-pic">
		<img src="{{activityImage}}!a-3-240x.jpg" width="180" height="135" alt="" />
	</div>
	<div class="lottery-text">
		<h4 class="lottery-tit">{{name}}</h4>
		<p class="lottery-p">活动时间：{{beginTime}} 至 {{endTime}}</p>
		<p class="lottery-p">活动规则：{{description}}</p>
	</div>
	<div class="lottery-state">
		<a href="javascript:;" class="lottery-btn {{status.className}}">{{status.text}}</a>
		<p class="lottery-state-tt">
			{{{status.html}}}
		</p>
	</div>
</div>